/* light green #A9DBB3 */
/* Dark green #042108 */
/* less dark green? #195621 */

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

/* body,
html {
  height: 100%;
  width: 100%;
} */

nav, h1, h2, #submit {
  color: #042108;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
}

nav{
  background: linear-gradient(90deg, rgba(169,219,179,1) 0%, rgba(4,33,8,1) 100%);
}

nav a, #header div a{
  color:#042108;
  letter-spacing: 3px;
}

a:hover{
  color: white
}



header {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  background-image: url('landing.jpg');
  /* background: url("https://images.unsplash.com/photo-1457530378978-8bac673b8062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#header div h1{
  font-size: 80px;
  letter-spacing: 15px
}

h2 {
  letter-spacing: 10px;
}

.btn-primary {
  background: #a9dbb3;
  border-color: #042108;

}

.btn-outline-primary{
  background: #a9dbb3;
  border: 1px solid #042108
}

.btn:hover{
  color: #042108
}

.btn-primary:hover {
  background: white;
  border-color: #042108
  
}

.btn-outline-primary:hover {
  background: white;
  border-color: #042108
}

#about {
  background-color: #a9dbb3;
}

#footer {
  background: linear-gradient(90deg, rgba(4,33,8,1) 0%, rgba(169,219,179,1) 100%);
  height: 18em;
  /* background-color: #195120; */
  color: #d3d3d3;
  padding-top: 15px;
}

#footer a {
  color: #d3d3d3 !important;
}

#footer .socials {
  background-color: #042108;
}

#footer p {
  margin-bottom: 0;
}
#footer ul {
  list-style-type: none;
}

#footer .nav-link {
  text-decoration: none;
}

.footer-text-container {
  margin: 0.8em 0;
}
