/* light green #A9DBB3 */
/* Dark green #042108 */

* {
  margin: 0;
  padding: 0;
}

/* body,
html {
  height: 100%;
  width: 100%;
} */
.selected {
  background: red;
}

header {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  background: url("https://images.unsplash.com/photo-1457530378978-8bac673b8062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  background-size: cover;
}

#about {
  background-color: #a9dbb3;
}

#footer {
  height: 20em;
  background-color: #042108;
  color: #d3d3d3;
}

#footer p {
  margin-bottom: 0;
}
#footer ul {
  list-style-type: none;
}

#footer .nav-link {
  text-decoration: none;
}

.footer-text-container {
  margin: 0.8em 0;
}
