body{
    background-color: rgb(166, 219, 196);
    background-size:  cover; 
    /* background-repeat: no-repeat;  */
}

.card{
    background-image: url(green.jpg);
}
/* .jumbotron{
    background-image: url();
} */

.single-card{
    background-color: #71bc78;
}