body{
    background-image: url(https://media.giphy.com/media/4How4vb1GsLTi/giphy.gif);
    background-size:  cover; 
    /* background-repeat: no-repeat;  */
}

h3, h4 {
    font-family: 'Assistant', sans-serif;
}

.card-link, .mt-3 {
    color: #042108
}
/* .jumbotron{
    background-image: url();
} */