body{
    background-image: url(https://media.giphy.com/media/4How4vb1GsLTi/giphy.gif);
    background-size:  cover; 
    /* background-repeat: no-repeat;  */
}
/* .jumbotron{
    background-image: url();
} */