{% extends "layout.html" %} 


{% block content %}
<h2>🌱</h2>
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    
    {% for plant in plants %}
    
    
    <div data-name={{plant.name}} data-id={{plant.id}} class="plant-box" >
        <h4>{{plant.name}}</h4>
        <img src={{plant.image}}>
        <p>{{plant.description}}</p>
        <textarea  placeholder="Add any notes?"></textarea>
    </div>
    {% endfor %}
    <button type="submit" id="plant-submit">plant!</button>
</form>

{% endblock %}

