{% extends "layout.html" %} 


{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='plants.css') }}">

<h2 class="plants-heading">Pick your plants</h2>
<!-- <div class="card p-2 shadow-lg m-13 p-2" style="height: 22rem;width: 59rem;"> -->
                   
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    
    <div class="container">
        <div class="row">
        {% for plant in plants %}
            <div class="col-md-4">
                <div data-id={{plant.id}} class="card plant-box" >
                    <div class=card-body>
                        <h4 class="card-title">{{plant.name}}</h4>
                        <img src="{{plant.image}}" class="card-img-left mr-10" alt="..." style="height: 100px;width: 100px;">
                        <p class="card-text">{{plant.description}}</p>
                        <textarea placeholder="Add any notes?" ></textarea>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="button-box">
        <button class="btn btn-primary" type="submit" id="plant-submit">Pick Plants</button>
    </div>
</form>
</div>

{% endblock %}
