{% extends "layout.html" %} {% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-header"><h1>{{ user.username }}</h1></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h3>{{ user.email }}</h3></li>
                    <li class="list-group-item"><h3>{{ user.joined_at.strftime('%Y-%m-%d')}}</h3></li>
                </ul>
                <div class="card-body">
                    <a href="/edit_profile/" class="card-link btn btn-primary btn-block" >Update Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-center">
            <h2>{{ user.username }} plants</h2>
            <a href="/plants">Add plant</a>
            
            {% for plant in plants %}
            <!-- <p>{{plant.name}}</p> -->
                    <div class="card" style="height: 18rem;width: 59rem;" data-id={{plant.id}}>
                        <img src="{{plant.plant.image}}" class="card-img-left" alt="..." style="height: 15rem;width: 19rem;">
                        <div class="card-body">
                        <h3 class="card-title">{{plant.plant.name}}</h3>
                        <p class="card-text">{{plant.plant.description}}</p>
                        <p>Notes: {{plant.note}} <a href="/edit_notes/{{plant.id}}" class="btn-primary">Edit</a></p>
                        <h4>Date last watered: {{plant.date_last_watered.strftime('%Y-%m-%d')}}</h4>
                        <h4>Date added: {{plant.date_added.strftime('%Y-%m-%d')}}</h4>
                        {% set number_days = (dateNow - plant.date_last_watered).days %}
                        <p>Days till next water: 
                            {{ number_days }} days
                            {% if number_days|int() > plant.plant.water_interval_in_days|int() %}
                            <p>You must water me!</p>
                            {% endif %}
                        </p>
                        <a id="water-plant" class="btn btn-primary" href="users_plants/{{plant.id}}/water">Water</a>
                        <a id="delete-plant" class="btn btn-danger" href="users_plants/{{plant.id}}">Delete</a>
                        </div>
                    </div>
                    
            {% endfor %}
        </div>
        </div>
        
</section>
{% endblock %}
